:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.result {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 64px;
}

.result-general {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}

label {
  display: flex;
  gap: 4px;
}

label span {
  text-align: right;
  width: 70px;
}

input {
  width: 160px;
}

.form-tab {
  background-color: rgb(182, 182, 182);
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#root {
  display: flex;
}